---
layout: default
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}" style="background-image: url('{{ site.logo }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <div class="custom-links">
      {% for social in site.social %}
        {% if social.url %}
            <a class="icon-{{ social.icon }}" href="{{ social.url }}">
              <i class="fa fa-{{ social.icon }}"></i>
            </a>
            
        {% endif %}
      {% endfor %}
      <p>
        <h2 class="post-title" itemprop="name"><a href="/archive">전체 글</a> /
        <a href="/category/">카테고리</a> / <a href="/tags/">태그</a></h2>
      </p>
    </div>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 텍스트광고 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3892481470905943"
         data-ad-slot="7400210588"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</header>


<main class="content" role="main">

    {% if site.tags.featured %}
    <h5 class="index-headline featured"><span>Featured</span></h5>

    <div class="container featured">
      {% for post in site.tags.featured %}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
            </header>
            <section class="post-excerpt" itemprop="description">
              <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
            </section>
            <div class="post-meta">
              <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
            </div>
          <div>
        </article>
      {% endfor %}
    </div>

    <h5 class="index-headline normal"><span>Regular</span></h5>
    {% endif %}

    <div class="cf frame">
      {% for post in paginator.posts %}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
            </header>
            <div class="post-meta">
              <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
            </div>

            <section class="post-excerpt" itemprop="description">
              <div class="post-content"
              <p>{{ post.content | truncatewords: 80 }}</p>
              </div>
            </section>
			  <p style="text-align:right"> <a href="{{ post.url }}" class="more-link"><span class="post-read-more-link"><span style="font-size:15px; font-weight:600; margin-right: 12px ">Read more</span></span></a></p>
			  <style type="text/css">
  a:link { color: rgb(201, 0, 0); text-decoration: underline;}
  a:visited { color: rgb(201, 0, 0); text-decoration: none;}
  a:hover { color: rgb(0, 0, 0); text-decoration:underline ;}
			  </style>

          <div>
        </article>
      {% endfor %}
    </div>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 텍스트광고 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3892481470905943"
         data-ad-slot="7400210588"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
			<div style="
float: left ;
 " >
    <nav class="pagination" role="navigation">
      {% if paginator.next_page %}
        <a class="newer-posts" href="/page{{paginator.next_page}}"><span style="margin-left: 12px ">&larr; Older posts</span></a>
		{% endif %}</nav>
</div>

<div style="
float: right ;
 " >
	 <nav class="pagination" role="navigation">
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="older-posts" href="/"><span style="margin-right: 12px ">Newer posts &rarr;</span></a>
        {% else %}
          <a class="older-posts" href="/page{{paginator.previous_page}}"><span style="margin-right: 12px ">Newer posts &rarr;</span></a>
        {% endif %}
      {% endif %}
    </nav>
			</div></br></br>
 </br>
 <p style="text-align:center;"<span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span></p>










</main>
