<!DOCTYPE html>
<html>

  {% include head.html %}
  <body>

    {% include header.html %}

    <!-- content start -->

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <!-- content end -->

    {% include footer.html %}
    {% include javascripts.html %}

    <script async src="https://cse.google.com/cse.js?cx=6f960c1d36f4413d3"></script>
<div class="gcse-search"></div>

  </body>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3892481470905943"
  crossorigin="anonymous"></script>
<ins class="adsbygoogle"
  style="display:block"
  data-ad-format="fluid"
  data-ad-layout-key="-2o+cc-d-cq+qg"
  data-ad-client="ca-pub-3892481470905943"
  data-ad-slot="9513792930"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>

</html>
